@page
@model ClotureEconomique.WebSite.Pages.Shared.Cloture_compositeModel
@{
    ViewData["Title"] = "Clôture de composite";
}


<div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Clôtures</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/Accueil">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="/Clotures">Nos clôtures</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Clôture de composite</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-xl-2 col-lg-2"></div>
            <div class="col-xl-8 col-lg-8">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Clôture de composite</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Élégante, écologique et résistante, notre clôture en composite représente l'excellence dans l'alliance entre durabilité et beauté. Façonnée à partir de matériaux innovants et respectueux de l'environnement, cette clôture offre une protection incomparable contre les éléments, sans compromettre son esthétique. Sa structure composite lui confère une résistance exceptionnelle aux intempéries, à la décoloration et aux dommages, assurant une tranquillité d'esprit à long terme. Avec un design épuré et contemporain, notre clôture en composite se fond harmonieusement dans tous les environnements, apportant une touche de sophistication à votre propriété. Que ce soit pour délimiter un espace résidentiel, embellir un complexe commercial ou sécuriser un site industriel, notre clôture en composite offre une solution polyvalente et élégante pour répondre à tous vos besoins en matière de sécurité et d'esthétique.
                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div id="page-slider" class="page-slider">
                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="images/projects/project1.jpg" alt="project-slider-image" />
                        </div>

                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="images/projects/project2.jpg" alt="project-slider-image" />
                        </div>
                    </div><!-- Page slider end -->

                    <div class="gap-40"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="column-title-small">Excellent rapport qualité/prix</h3>

                            <p>
                                Elle se fait dans plusieurs couleurs qui seront vous convaincre
                            </p>
                            <ul class="list-arrow">
                                <li>Noir</li>
                                <li>Blanc</li>
                                <li>Brun</li>
                                <li>Taupe</li>
                                <li>Vert</li>
                                <li>Galvanisé</li>
                            </ul>
                        </div>

                        <div class="col-md-6 mt-5 mt-md-0">
                            <h3 class="column-title-small">Vous devriez savoir</h3>

                            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Lattes d'intimité
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#construction-accordion">
                                        <div class="card-body">
                                            Il est possible ajouter des lattes d’intimité, elle vous donneront tous l'intimité nécessaire pour passer vos soirées en toute quiétude.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Garantie
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#construction-accordion">
                                        <div class="card-body">
                                            Optez pour la tranquillité d'esprit avec notre offre exclusive : Garantie de 5 ans sur le matériel et l'installation de votre clôture.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Accordion end -->
                    </div>
                </div>
                    <!--2nd row end -->

                    <div class="gap-40"></div>

                    <div class="call-to-action classic">
                        <div class="row align-items-center">
                            <div class="col-md-8 text-center text-md-left">
                                <div class="call-to-action-text">
                                    <h3 class="action-title">Intéressé par ce service.</h3>
                                </div>
                            </div><!-- Col end -->
                            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                                <div class="call-to-action-btn">
                                    <a class="btn btn-primary" href="/Soumission">Obtenir une soumission</a>
                                </div>
                            </div><!-- col end -->
                        </div><!-- row end -->
                    </div><!-- Action end -->

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->
            <div class="col-xl-2 col-lg-2"></div>

        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->