@page
@model ClotureEconomique.WebSite.Pages.Soumission1Model
@{
    ViewData["Title"] = "Soumission";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<section id="main-container" class="main-container">
    <div class="container">

        <!--<div class="row text-center">
            <div class="col-12">-->
                <!--<h2 class="section-title">Reaching our Office</h2>-->
                <!--<h3 class="section-sub-title">Trouvez notre emplacement</h3>
            </div>
        </div>-->
        <!--/ Title row end -->

        <div class="row ">

            <div class="col-md-6">
                <div class="ts-service-box-bg text-center h-100">
                    <span class="ts-service-icon icon-round">
                        <i class="fa fa-envelope mr-0"></i>
                    </span>
                    <div class="ts-service-box-content">
                        <h4>Envoyez-nous un email</h4>
                        <p><a href="mailto:clotureeconomique@hotmail.com">clotureeconomique@hotmail.com</a></p>
                    </div>
                </div>
            </div><!-- Col 2 end -->

            <div class="col-md-6">
                <div class="ts-service-box-bg text-center h-100">
                    <span class="ts-service-icon icon-round">
                        <i class="fa fa-phone-square mr-0"></i>
                    </span>
                    <div class="ts-service-box-content">
                        <h4>Appelez-nous</h4>
                        <p><a href="tel:(418) 559-6383">(418) 559-6383</a></p>
                    </div>
                </div>
            </div><!-- Col 3 end -->

        </div><!-- 1st row end -->

        <!--<div class="gap-60"></div>

        <div class="google-map">
            <div id="map" class="map" data-latitude="40.712776" data-longitude="-74.005974" data-marker="images/marker.png" data-marker-name="Constra"></div>
        </div>-->

        <div class="gap-40"></div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="column-title">Obtenir une soumission</h3>
                <!-- contact form works with formspree.io  -->
                <!-- contact form activation doc: https://docs.themefisher.com/constra/contact-form/ -->
                <form id="contact-form" action="#" method="post" role="form">
                    <div class="error-container"></div>
                    <div class="row">
                        <!--Nom-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Nom</label><span class="champReq"> *</span>
                                <input class="form-control form-control-name" name="nomClient" id="nomClient" placeholder="Nom" type="text" required />
                                <span class="d-none champReq" style="font-size:13px" id="msgNomClient"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Courriel-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Courriel</label><span class="champReq"> *</span>
                                <input class="form-control form-control-email" name="emailClient" id="emailClient" placeholder="Courriel" type="email" required />
                                <span class="d-none champReq" style="font-size:13px" id="msgEmailClient"></span>
                            </div>
                        </div>
                        <!--Numéro de téléphone-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Numéro de téléphone</label><span class="champReq"> *</span>
                                <input class="form-control form-control-subject" name="telClient" id="telClient" placeholder="Numéro de téléphone" type="text" required />
                                <span class="d-none champReq" style="font-size:13px" id="msgTelClient"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Adresse-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Adresse</label><span class="champReq"> *</span>
                                <input class="form-control form-control-subject" name="adresseClient" id="adresseClient" placeholder="Adresse" type="text" required />
                                <span class="d-none champReq" style="font-size:13px" id="msgAdresseClient"></span>
                            </div>
                        </div>
                        <!--Ville-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Ville</label><span class="champReq"> *</span>
                                <input class="form-control form-control-subject" name="villeClient" id="villeClient" placeholder="Ville" type="text" required />
                                <span class="d-none champReq" style="font-size:13px" id="msgVilleClient"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Code postal-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Code postal</label><span class="champReq"> *</span>
                                <input class="form-control form-control-subject" name="codePostalClient" id="codePostalClient" placeholder="Code postal" type="text" required />
                                <span class="d-none champReq" style="font-size:13px" id="msgCodePostalClient"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <!--Choix du service-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="titreChamp">Type de service</label><span class="champReq"> *</span>
                                <select class="form-control" id="typeService" name="typeService">
                                    <option value="">Sélectionnez</option>
                                    <option value="cloture">Clôture</option>
                                    <option value="deneigementRes">Déneigement résidentiel</option>
                                    <option value="deneigementComm">Déneignement commercial</option>
                                    <option value="tonte">Tonte de pelouse</option>
                                </select>
                                <span class="d-none champReq" style="font-size:13px" id="msgTypeService"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sectionClotureForm d-none">
                        <hr />
                        <div class="row">
                            <!--Type de clôture-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="titreChamp">Type de clôture</label><span class="champReq"> *</span>
                                    <select class="form-control" id="typeCloture" name="typeCloture">
                                        <option value="">Sélectionnez</option>
                                        <option value="mailles">Clôture de mailles</option>
                                        <option value="ornemental">Clôture ornemental</option>
                                        <option value="composite">Clôture en composite</option>
                                        <option value="bois">Clôture en bois</option>
                                        <option value="verre">Clôture de verre</option>
                                    </select>
                                    <span class="d-none champReq" style="font-size:13px" id="msgTypeCloture"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--Nombre de pieds linéaires-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="titreChamp">Nombre de pieds linéaires</label><span class="champReq"> *</span>
                                    <input type="text" class="form-control" id="nbPiedsCloture" name="nbPiedsCloture" placeholder="Nombre de pieds linéaires" />
                                    <span class="d-none champReq" style="font-size:13px" id="msgNbPiedsCloture"></span>
                                    <span class="d-none msgLivraison champReq" style="font-size:13px">
                                        Des frais de livraison de 300$ seront ajoutés pour une clôture de 25 pieds et moins
                                    </span>
                                                @*<span class="alert-warning d-none msgLivraison" style="font-size:11px">
                                    Des frais de livraison de 300$ seront ajoutés pour une clôture de 25 pieds et moins
                                </span>*@
                                </div>
                            </div>
                            <!--Nombre de portes-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="titreChamp">Nombre de portes</label><span class="champReq"> *</span>
                                    <select class="form-control" id="nbPortesCloture" name="nbPortesCloture">
                                        <option value="">Sélectionnez</option>
                                        <option value="0">Aucune</option>
                                        <option value="1">Simple</option>
                                        <option value="2">Double</option>
                                    </select>
                                    <span class="d-none champReq" style="font-size:13px" id="msgNbPortesCloture"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--Hauteur de la clôture-->
                            <div class="col-md-6" id="divHauteurCloture">
                                <div class="form-group">
                                    <label class="titreChamp">Hauteur de la clôture</label><span class="champReq"> *</span>
                                    <select class="form-control" id="hauteurCloture" name="hauteurCloture">
                                        <option value="">Sélectionnez</option>
                                        <option value="4">4 pieds</option>
                                        <option value="5">5 pieds</option>
                                        <option value="6">6 pieds</option>
                                    </select>
                                    <span class="d-none champReq" style="font-size:13px" id="msgHauteurCloture"></span>
                                </div>
                            </div>
                            <!--Couleur-->
                            <div class="col-md-6 d-none" id="divCouleurCloture">
                                <label class="titreChamp">Couleur</label><span class="champReq"> *</span>
                                <select class="form-control" id="couleurCloture" name="couleurCloture">
                                    <option value="">Sélectionnez</option>
                                    <option value="noir">Noir</option>
                                    <option value="blanc">Blanc</option>
                                    <option value="brun">Brun</option>
                                    <option value="taupe" class="optionCouleurTaupe">Taupe</option>
                                    <option value="vert" class="optionCouleurTaupe">Vert</option>
                                    <option value="galvanise" class="optionCouleurTaupe">Galvanisé</option>
                                </select>
                                <span class="d-none champReq" style="font-size:13px" id="msgCouleurCloture"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 d-none" id="divLatteCloture">
                                <label class="titreChamp">Lattes d'intimité</label><span class="champReq"> *</span>
                                <select class="form-control" id="latteCloture" name="latteCloture">
                                    <option value="">Sélectionnez</option>
                                    <option value="oui">Oui</option>
                                    <option value="non">Non</option>
                                </select>
                                <span class="d-none champReq" style="font-size:13px" id="msgLattesCloture"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="titreChamp">Commentaires/informations supplémentaires</label>
                                <textarea class="form-control form-control-message" name="infoSupp" id="infoSupp" placeholder="" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <br>
                        <button class="btn btn-primary solid blank" type="button" id="envoyerForm">Envoyer</button>
                    </div>

                </form>
            </div>

        </div><!-- Content row -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->

<script src="/js/soumissionForm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>